body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    background-color: #f0f2f5;
}

a {
    text-decoration: none; 
    color: inherit; 
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.header {
    border-bottom: 1px solid #ddd; 
}


.top-bar {
    background-color: #333a56; 
    color: #ffffff; 
    padding: 10px 20px; 
    

    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px; 
}

.search-bar button {
    padding: 8px 10px;
    border: none;
    background-color: #f0f2f5; 
    cursor: pointer; 
    border-radius: 4px;
}

.user-actions a {
    margin-left: 15px; 
}
